<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="COMP367-Lab4" value="https://pkgs.dev.azure.com/melanonuevo/b7b15a06-2f68-4a82-9f1b-b6e3f9a7e6d9/_packaging/COMP367-Lab4/nuget/v3/index.json" />
		<add key="comp367" value="https://pkgs.dev.azure.com/melanonuevo/_packaging/comp367/nuget/v3/index.json" />
	</packageSources>
</configuration>
